# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts

# production
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
*.log

# editor / os
.DS_Store
.vscode/
.idea/

# typescript
*.tsbuildinfo
